# Ignore Python virtual environments
venv/
.env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs and outputs
*.log

# Environment files
.env
